asyncpg==0.31.0
backports.tarfile==1.2.0
bcrypt==5.0.0
email-validator==2.3.0
faiss-cpu==1.13.2
fastapi==0.128.0
importlib-metadata==8.7.1
jaraco-context==6.1.0
jaraco-functools==4.4.0
jaraco.text==4.0.0
langchain==1.2.7
langchain-community==0.4.1
pip-chill==1.0.3
platformdirs==4.4.0
sentence-transformers==5.2.2
tomli==2.4.0
uvicorn==0.40.0
