.sidebar {
    width: 240px;
    background-color: var(--surface);
    padding: 20px;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    box-shadow: 2px 0 8px var(--shadow);
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebarMenu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebarMenu li button {
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    border: none;
    color: var(--text);
    font-size: 16px;
    text-align: left;
    transition: background-color 0.3s;
    width: 100%;
    cursor: pointer;
}

.sidebarMenu li button:hover {
    background-color: var(--border);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        height: 100%;
        padding: 15px;
        box-shadow: none;
        display: none;
    }
}